body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.font1 {
    font-family: "Papyrus", Fantasy;
  }

.image-altura {
    height: 200px;           
    overflow: hidden;
    display: flex;        
    align-items: center;   
    justify-content: center; 
}

.contenedor-image-header img {
    width: 100%;    
    
}

